<br><br>
<div class="container" style="width:40em">
  <div class="row">
    <div class="col-">
      <%= image_tag url_for(avatar(@user)), style: "width:12em; height:12em; object-fit:cover; border-radius:1em; margin:1em" %>
    </div>
    <div class="col" style="line-height:2em">

        <h4 style="font-weight:600; padding-top: 0.8em"><%= @user.first_name%> <%= @user.last_name%></h4>
        <small style="font-weight:600">Explorateur</small><br>
        <small style="font-weight:600">5 000 points</small>

      <div class="row" style="padding-top:1em">
        <div class="col">
          <%= link_to friendships_path, class:"text-decoration-none" do %>
            <p style="font-weight:600; color:black; margin:0em"><%= @friends_count%></p>
            <small style="font-weight:600; color:black; margin:0em">Amis</small>
          <% end %>
        </div>
        <div class="col">
          <p style="font-weight:600; margin:0em">576</p>
          <small style="font-weight:600; margin:0em">Events</small>
        </div>
        <div class="col">
          <p style="font-weight:600; margin:0em">14</p>
          <small style="font-weight:600; margin:0em">Following</small>
        </div>
      </div>
    </div>
    <div class="col-">
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag "settings.svg", style: "width:1em" %>
      <% end %>
    </div>
  </div>
  </div>


  <% if current_user.is_owner? %>
  <div class="container">
    <br><br>
    <div class="row text-center">
      <div class="col">
        <%= link_to "Créer Venue", new_venue_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="container">
    <br><br>
    <div class="row text-center">
      <div class="col">
        <%= link_to 'Trouver des Amis', users_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
