<div class="my-bg-grey">

  <br><br>

  <div class="container" style="width:65%; min-width:60em">

  <div class="row">
    <div class="col-4">
      <%= image_tag url_for(avatar(@user)), style: "width:17em; border-radius:1em; height:17em; object-fit:cover;" %>
    </div>

      <div class="col" >

        <div class="row">
          <h4 style="font-weight:600; padding-top: 0.8em">
            <%= @user.first_name%> <%= @user.last_name%>
          </h4>
        </div>
<!--
        <div class="row">
          <small style="font-weight:600">Explorateur</small><br>
        </div> -->

        <div class="row align-items-end" style="padding-top:10em">
          <div class="col">
            <%= link_to friendships_path, class:"text-decoration-none" do %>
              <p style="font-weight:600; color:black; margin:0em"><%= @friends_count%></p>
              <small style="font-weight:600; color:black; margin:0em">Amis</small>
            <% end %>
          </div>

          <div class="col">
            <p style="font-weight:600; margin:0em"><%= @user.invitations.count + @user.events.count %></p>
            <small style="font-weight:600; margin:0em">Events</small>
          </div>

          <div class="col">
            <p style="font-weight:600; margin:0em">14</p>
            <small style="font-weight:600; margin:0em">Lives</small>
          </div>
        </div>

      </div>

      <div class="col-">
        <%= link_to edit_user_path(current_user) do %>
          <%= image_tag "settings.svg", style: "width:1em" %>
        <% end %>
      </div>

    </div>

  </div>

  <br><br>

</div>

<br><br><br><br>

<div class="container" style="width:65%; min-width:70em; ">
<div class="row align-items-top">

  <div class="col-3">
    <h5>Autre Profils</h5>
    <%= link_to 'Trouver des Amis', users_path, class:"btn btn-outline-primary" %>
  </div>

    <% @users.first(3).each do |user| %>
      <div class="col" style="margin:1em; border-radius: 0.2em; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)">
        <div class="row">
          <%= image_tag url_for(avatar(user)), style:"width:15em; height:15em; border-radius: 0.2em 0.2em 0em 0em; object-fit:cover" %>
        </div>
        <div class="row">
          <p style="margin-left:0.5em; padding-bottom:2em"><%= user.first_name %> <%= user.last_name %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>


<style>

.live_card .card-img-top {
width: 23vw;
height: 23vw;
object-fit: cover;
}

.h7{
font-size:0.2em;
}


.card-body{
padding: auto 0px auto 0px;
}


</style>
