<div class="my-bg-grey" style="height:100vh">

<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col-">
      <h2>Invitations en attente</h2>
    </div>
    <div class="col">
    </div>
    <div class="col-">
      <%= link_to "Trouver des amis", users_path %>
    </div>
  </div>
</div>

  <div class="container" style="background-color:white">

    <% if @received_friend_requests.count > 0 %>
      <% @received_friend_requests.each do |requesting_friend| %>
      <div class="row align-items-center">
        <div class="col-">
          <%= image_tag url_for(avatar(requesting_friend)), class:"avatar-xl", style:"margin:0.5em" %><br>
        </div>
        <div class="col">
          <p style="margin:0em"><%= requesting_friend.first_name %> <strong><%= requesting_friend.last_name %></strong></p>
        </div>
        <div class="col-">
          <!-- A CHANGER -->
          <%= link_to "Refuser", friendship_path(requesting_friend), method: "delete", class:"btn btn-outline-primary", style:"margin-right:1em" %>
        </div>
        <div class="col-">
          <%= link_to "Accepter", friendship_path(requesting_friend, status: 1), method: "put", class:"btn btn-primary", style:"margin-right:2em" %>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="row align-items-center" style="padding:2em">
        <div class="col text-center" style="color:grey">
          <p>Pas de demandes en attente</p>
        </div>
      </div>
    <% end %>
  </div>

  <br><br>

  <div class="container">
    <h2>Amis</h2>
  </div>

  <div class="container" style="background-color:white">

    <% if @friends.count > 0 %>
      <% @friends.each do |friend| %>
        <%= link_to user_path(friend), style:"text-decoration:none; color:black" do %>
          <div class="row align-items-center">
            <div class="col-">
              <%= image_tag url_for(avatar(friend)), class:"avatar-xl", style:"margin:0.5em" %><br>
            </div>
            <div class="col">
              <p style="margin:0em"><%= friend.first_name %> <strong><%= friend.last_name %></strong></p>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      <div class="row align-items-center" style="padding:2em">
        <div class="col text-center" style="color:grey">
          <p>Vous n'avez pas encore d'amis</p>
        </div>
      </div>
    <% end %>
  </div>



</div>
