<%= link_to venue_path(invitation.venue.id), style: "color: black; text-decoration:none" do %>

<div class="container border" style="width:25em; border-radius:1em; box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2)">

  <div class="row">
    <%= video_tag(url_for(invitation.venue.video), class: "video-square", poster: url_for(invitation.venue.thumbnail), muted: "true", onmouseover:"this.play()", onmouseout:"this.load();") %>
  </div>

  <div class="row align-items-center" style="padding-top:0.5em">
    <div class="col-" style="margin:0em 0.5em 0em 1em">
      <%= image_tag url_for(avatar(invitation.admin)), class:"avatar-bg" %>
    </div>
    <div class="col text-truncate" style="line-height: 1em; padding:0.5em; margin-top:0.4em">
      <p style="font-weight:600; line-height:0em"><%= invitation.admin.first_name %></p><br>
      <small style=" font-weight:400"><%= invitation.guests.count %> invités.</small><br>
    </div>
    <div class="col-" style="margin:1em; margin-top:-1em">
      <% unless invitation.start_date == Date.today %>
      <small style="font-size:0.8em"> <%= invitation.start_date.strftime("%d/%m") %> </small>
      <% end %>
    </div>
  </div>

  <div class="row align-items-center" style="margin-left:0.3em; padding-top:1em">
    <% if invitation.guests.count != 0 %>
    <% invitation.user_invites.each do |user_invite| %>
    <div class="col-sm- text-center" style="padding-right:1em">
      <%= image_tag url_for(avatar(user_invite.guest)), class:"avatar-bg" %>
      <% if user_invite.accepted? %>
      <%= image_tag "join-bdg.png", style:"width:1.5em; position:absolute; margin-left:-1em; margin-top:1.7em" %><br>
      <% elsif user_invite.denied? %>
      <%= image_tag "cant-bdg.png", style:"width:1.5em; position:absolute; margin-left:-1em; margin-top:1.7em" %><br>
      <% else %>
      <br>
      <% end %>
      <small style="font-size:0.9em"><%= user_invite.guest.first_name %></small>
    </div>

    <% end %>
    <% else %>
    <div class="col text-center my-primary-grey" style="padding: 1.4em">
      <p>Pas d'invités</p>
    </div>
    <% end %>
  </div>

  <br>
  <% end %>

<% if invitation.start_date == Date.today %>
<hr>
    <% if invitation.admin == current_user %>
      <div class="row text-center align-items-center" style="margin:0px; padding:0.7em 0em">

        <div class="col">
          <%= link_to invitation_path(invitation), method: "delete", style: "text-decoration:none; color:black" do %>
          <span>Cancel</span> <%= image_tag "cant-btn.svg", style: "width:0.7em; margin-bottom:0.2em" %>
          <% end %>
        </div>

        <div class="col">
          <%= link_to new_invitation_path(invitation.id), style: "text-decoration:none; color:black" do %>
          <span>Share</span> <%= image_tag "share-btn.svg", style: "width:1em; margin-bottom:0.2em" %>
          <% end %>
        </div>

      </div>
    <% else %>

        <div class="row text-center align-items-center" style="margin:0px; padding:0.7em 0em">

          <div class="col">
            <%= link_to user_invite_path(invitation.id, status: 2), method: "put", style: "text-decoration:none; color:black" do %>
            <span>Can't</span> <%= image_tag "cant-btn.svg", style: "width:0.7em; margin-bottom:0.2em" %>
            <% end %>
          </div>

          <div class="col">
            <%= link_to user_invite_path(invitation.id, status: 1), method: "put", style: "text-decoration:none; color:black" do %>
            <span>Join</span> <%= image_tag "join-btn.svg", style: "width:0.9em; margin-bottom:0.2em" %>
            <% end %>
          </div>

        </div>
    <% end %>
<% end %>

</div>
<br><br>
