<div class="container border" style="width:25em; border-radius:1em; box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);">

  <div class="row">
    <%= video_tag(url_for(invitation.venue.video), class: "video-square", poster: url_for(invitation.venue.thumbnail), muted: "true", onmouseover:"this.play()", onmouseout:"this.load();") %>
  </div>

  <div class="row align-items-center" style="padding-top:0.5em">
    <div class="col-">
      <%= image_tag "avatar.jpg", style: "width:2.5em; border-radius:5em; margin-left:0.4em" %>
    </div>
    <div class="col text-truncate" style="line-height: 1em; padding:0.5em">
      <p style="font-weight:600; line-height:0em"><%= invitation.id %> <%= invitation.admin.first_name %></p><br>
      <small style=" font-weight:400">Votre évènement avec 4 autres personnes.</small><br>
    </div>
  </div>

  <div class="row" style="padding:0.4em">
    <small>Invités :</small>
  </div>

  <div class="row" style="padding:0.4em">
    <% if invitation.guests.count != 0 %>
    <% invitation.guests.each do |guest| %>
      <%= guest.first_name %>
    <% end %>
    <% else %>
    <div class="col text-center my-primary-grey">
      <p>Pas d'invités</p>
    </div>
    <% end %>
  </div>

  <br><hr>

  <div class="row text-center align-items-center" style="margin:0px; padding:0.7em 0em">

    <div class="col">
      <%= link_to invitation_path(invitation), method: "delete", style: "text-decoration:none; color:black" do %>
      <span>Cancel</span> <%= image_tag "cant-btn.svg", style: "width:0.7em; margin-bottom:0.2em" %>
      <% end %>
    </div>

    <div class="col">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Share
      </button>
    </div>

  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= invitation.id %> Invite tes amis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @friends.each do |friend| %>
        <% unless invitation.guests.include? friend %>
        <div class="row align-items-center">
          <div class="col-">
            <%= image_tag "avatar.jpg", style: "width:4em; border-radius:50%; margin:0.5em" %>
          </div>
          <div class="col">
            <p style="margin:0em"><%= friend.first_name %> <strong><%= friend.last_name %></strong></p>
          </div>
          <div class="col-">
            <%= link_to "Share", user_invites_path(invitation_id: invitation.id, guest_id: friend.id), method:"post", class:"btn btn-primary", style:"margin:1em" %>
          </div>
        </div>
<% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
