<div style="min-width:100%; min-height:100vh; background-size: cover; background-repeat: no-repeat; background-image: url('https://i.imgur.com/sqLGK55.jpg')">
<br><br>
  <div class="container" style="width:40em; background-color:white; border-radius: 3em">

    <br>

    <div class="row justify-content-center" style="padding-top:2em">
      <h1>Modifier un Lieu</h1>
    </div>

    <div class="row justify-content-center">
      <p>Remplissez le formulaire ci-dessous</p>
    </div>

    <br>

    <div class="container" style="width:75%; padding-top:0.5em">

      <%= form_for(@venue, :multipart => true) do |f| %>

        <div class="form-group">
          <%= f.label 'Nom du Lieu' %>
          <%= f.text_field 'name', class: 'form-control', autofocus: true%>
        </div>

        <div class="form-group">
          <%= f.label 'Description' %>
          <%= f.text_area 'description', class: 'form-control', :cols => 20, :rows => 6%>
        </div>

          <div class="form-group">
            <%= f.label 'Adresse' %>
            <%= f.text_field 'address', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Ville' %>
            <%= f.text_field 'city', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Code Postal' %>
            <%= f.number_field 'zip_code', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Prix de la Pinte' %>
            <%= f.number_field 'min_drink_price',min:0 ,class: 'form-control' %>
          </div>

          <br>

          <div class="form-group">
            <%= f.label 'video' %>
            <%= f.file_field 'video' %>
          </div>

          <div class="form-group">
            <%= f.label 'avatar' %>
            <%= f.file_field 'avatar' %>
          </div>

          <div class="form-group">
            <%= f.label 'thumbnail' %>
            <%= f.file_field 'thumbnail' %>
          </div>

          <div class="form-group">
            <%= f.label 'images' %>
            <%= f.file_field 'images', multiple: true %>
          </div>

          <br>

          <div class="row justify-content-center">
            <div class="actions">
              <%= submit_tag "Mettre à jour", class:"btn btn-lg btn-primary my-primary-gradient", style:"width:10em; border-radius:2em" %>
            </div>
          </div>

        <br>
      <% end %>

    </div>

  </div><br><br>

</div>
