<!-- If notification is a friendship notification, link_to friendships#index -->
<% if notif.is_a?(FriendshipNotification) %>
  <%= link_to friendships_path(notif: notif), style:"text-decoration:none; color:black" do %>
  <div class="dropdown-item" style="background-color:<%= notification_color(notif) %>">
    <div class="row">
      <div class="col-2">
        <%= image_tag "avatar.jpg", style: "width:4em; border-radius:5em" %>
      </div>
        <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
          <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <br>
          <span class="my-primary-grey"><%= notif.updated_at %></span></small>
        </div>
    </div>
  </div>
<hr>
  <% end %>

<!-- If notification is a invitation notification, link_to invitations#index -->
<% elsif notif.is_a?(InvitationNotification) %>
  <%= link_to invitations_path(notif: notif), style:"text-decoration:none; color:black" do %>
  <div class="dropdown-item">
    <div class="row">
      <div class="col-2">
        <%= image_tag "avatar.jpg", style: "width:4em; border-radius:5em" %>
      </div>
        <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
          <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <strong><%= notif.reference.name %> </strong>.<br>
          <span class="my-primary-grey"><%= notif.updated_at %></span></small>
        </div>
    </div>
  </div>
<hr>
  <% end %>
<% end %>
