<%= link_to root_path, class: "text-decoration-none" do %>
<div class="dropdown-item">
  <div class="row">
    <div class="col-2">
      <%= image_tag "avatar.jpg", style: "width:4em; border-radius:5em" %>
    </div>

    <% if notif.is_a?(FriendshipNotification) %>
      <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
        <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <br>
        <span class="my-primary-grey">notif.updated_at</span></small>
      </div>
    <% elsif notif.is_a?(InvitationNotification) %>
      <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
        <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <strong>notif.reference</strong>. <br>
        <span class="my-primary-grey">Jeudi, 8 Août à 18:46.</span></small>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<hr>
