<%= link_to root_path, class: "text-decoration-none" do %>
<div class="dropdown-item">
  <div class="row">
    <div class="col-2">
      <%= image_tag "avatar.jpg", style: "width:4em; border-radius:5em" %>
    </div>

    <% if notif.is_a?(FriendshipNotification) %>
      <%= link_to user_path(notif.actor.id, notif: notif) do %>
        <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
          <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <br>
          <span class="my-primary-grey"><%= notif.updated_at %></span></small>
        </div>
      <% end %>

    <% elsif notif.is_a?(InvitationNotification) %>

      <%= link_to invitations_path(notif: notif) do %>
        <div class="col text-truncate" style="height:3em; margin-top:auto; margin-bottom:auto; padding-left:1em">
          <small class="text-truncate"><strong> <%= notif.actor.first_name %> <%=notif.actor.last_name %></strong> <%= notif.action.content %> <strong><%= notif.reference.name %> </strong>. <br>
          <span class="my-primary-grey"><%= notif.updated_at %></span></small>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
<% end %>

<hr>
